# Build directory
build/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt

# Debug files
*.dSYM/
